.contactmeImg{
    margin-left: 21rem;
    width: 50%;
}
.mainContent{
    margin-top: 0.8rem;
}
form{
    margin-top: 0rem;
}
.FormHeader{
    font-family: 'Grandstander', cursive;
}

.contactmeImage{
    margin-left: 0rem;
    width: 100%;
}
/*Extra small devices (portrait phones, less than 576px)*/
@media only screen and (max-width: 575.98px) {
    .contactmeImg{
        margin-left: 0;
        width: 100%;
    }
    .mainContent{
        margin-top: 0.8rem;
    }
    form{
        margin-top: 0rem;
    }
    .FormHeader{
        font-family: 'Grandstander', cursive;
        font-size: 5vw;
        text-align: center;
    }

    .contactmeImage{
        display: none;
    }
}
/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    
}